

.content
    padding: 25px 0
    h2
        font-size: 20px
        font-weight: 500
        line-height: 34px
        color: #505050
        padding-bottom: 15px

    // There's no intro class in the html. I suspect this is supposed to
    // be the .col12 class you gave in the html. No Susy style is required
    // here because div blocks take up 100% width by default.
    //
    // Nothing related to Sass in the new few paragraphs, but just sayin' :)
    //
    // It is a design best practice to make sure your sentence measure
    // (width) falls between 55 to 75 characters. Plus or Minus is okay.
    //
    // In this case, you lorem ipsum text spans the full 100% width and it
    // can make it difficult for your readers to read.

    // .intro
        //
        // +full

    // This clearfix can actually be removed because clearfixes are added
    // below at .columns-8-4 etc
    // +clearfix

    img
        max-width: 100%

    .columns-12, .columns-8-4, .columns-6-6, .columns-4-4-4
        +clearfix
        // See _menu.sass
        +breakpoint(0px 900px)
            margin-bottom: 0

        // See _menu.sass
        +breakpoint(901px)
            margin-bottom: 30px

    .columns-12
        margin-bottom: 30px

    .columns-4-4-4
        +clearfix

        // See _menu.sass
        +breakpoint(0px 900px)
            > div
                // See _heading.sass
                +span(12)
                margin-bottom: 30px

            > div:last-child
                +last
                margin-bottom: 30px

        // See _menu.sass
        +breakpoint(901px)
            > div
                +span(4)

            > div:last-child
                +last

    // Good stuff, just remove all the of 12s
    .columns-8-4

        // See _menu.sass
        +breakpoint(701px)
            > div:first-child
                // +span(8 of 12)
                +span(8)

            > div:last-child
                // +span(4 of 12 last)
                +span(4 last)

        // See _menu.sass
        +breakpoint(0px 700px)
            > div
                // See _heading.sass
                +span(12)
                margin-bottom: 30px
            > div:last-child
                margin-bottom: 30px
                +last

    .columns-6-6

        // See _menu.sass
        +breakpoint(0px 800px)
            > div
                // See _heading.sass
                +span(12)
                margin-bottom: 30px


        // See _menu.sass
        +breakpoint(801px)
            > div
                +span(6)

            > div:last-child
                +last
