footer

    .inner-wrap
        padding-top: 30px
        padding-bottom: 30px

        background-color: #4c4c4c
        color: #c8c8c8
        +clearfix

    // In most layouts, container is only used once, unless you specifically
    // want to have to different grids with Susy, which is rare.
    // There is no need to redeclare the container again
    // +container($mainWidth)

    // Alternatively, you can use the gallery mixin for .widget
    // .widget
    //   +gallery(3)

    .widget
        // +span(3 of 12)
        +span(3)
        &:last-child
            // +span(3 of 12 last)
            +span(3 last)

        h3
            font-size: 20px
            line-height: 34px
            color: white
            font-weight: 500

    .copyright
        background-color: #404040
        color: #a8a8a8
        padding: 20px 0px
