header
    background-color: $cleanBackground
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2)
    min-height: $headerHeight

    // There isn't a need to use Susy here, just a plain float: left would
    // have done the job well enough
    .logo
        height: $headerHeight
        // +span(2 of 12)
        float: left

        > span
            display: inline-block
            vertical-align: middle
            height: 100%
            width: auto
        > img
            vertical-align: middle

